@use'../custom' as *;
@use'../components/mixins' as * ;

.menu{
   @include gradient;

   .btn-rounded{
    @include media-breakpoint-down(sm){
        display:none;
    }
   }

   li{
    padding: 0 0.7rem;


    a{
        
            color: $white !important;
            text-transform:capitalize;
            font-weight: 600;
        
    }
   }
   .dropdown-menu{
       background-color: $new;
       .drop{
           color: $white;
       }
   }
}
