@use'../custom' as *;
@use'../components/mixins' as * ;

.testimonials{
    position: relative;
    padding: 0;
    @include gradient;

    &__card{
        background-color: rgba($white, 0.8);
        padding: 3rem 1.25rem;
        border-radius: 0.625rem;
        height: auto !important;
        text-align: center;

        i{
            font-size: 1.5rem;
            color: rgba($primary, 0.7);
        }

        .ratings{

            i{
                color: rgba($primary, 0.7);
                font-size: 1rem;
            }
        }
    }

    &__picture{
       padding: 1rem;
    //    position: absolute;
    //    left: 50%;
    //    transform: translate(-50%, -50%);
    }

    &__name{
        // padding-top: 0.5rem;
        margin-bottom: 1rem;
        // text-align: center;
        font-weight: 500;
        // color: $white;
        padding: 0 3rem;

        h3{
            padding-top:0.2rem;
            text-transform: capitalize;
        }

        padding: {
            padding-bottom: 2rem;
            text-transform: capitalize;
        }
    }   
 }
